.content{
	width:100%;
	height:auto;
	.contentin{
		position: relative;
		height:auto;
		width:1202px;
		margin: 0 auto;
		.contTop{
			font-size: 12px;
			ul{
				height:42px;
				line-height: 42px;
				li{
					float:left;
					margin-left:5px;
					color:#777;

					a{
						border:1px solid #fff;
						color:#777;
						padding:5px;
						&:hover{
							color:#fc4c65;
							border:1px dashed #fc4c65;
						}
					}
					.iconfont{
						font-size: 18px;
						color:#777;
					}
				}
			}
		}
		.classify{
			ul{
				width:1198px;
				height:34px;
				border:1px solid #eaeaea;
				overflow: hidden;
				line-height: 34px;
				li{
					float:left;
					font-size: 14px;
					color:#999999;
					margin-right:20px;
					a{
						color:#777777;
						&:hover{
							color:#fc4c65;
						}
					}
				}
				.active{
					a{
						margin-top:4px;
						color:#fff;
						width:32px;
						height:25px;
						display: block;
						line-height: 25px;
						font-size: 12px;
						text-align: center;
						background: #fc4c65;
						&:hover{
							color:#fff;
						}
					}
				}
				li:first-child{
					width:109px;
					background: #f8f8f8;
					border-right:1px solid #eaeaea;
					height:100%;
					text-align: right;
					padding:0 10px;
				}
			}
		}
	.contBox{
		width:100%;
		height:auto;
		overflow: hidden;
		margin-top:10px;
		.boxLeft{
			width:220px;
			height:auto;
			float:left;
			.shopClass{
				p{
					font-size: 12px;
					color:#666666;
					font-weight: bolder;
					margin-top:13px;
					height:30px;
					line-height: 30px;
					width:194px;
					margin-left:12px;
					border-bottom:1px dashed #cccccc; 

					i{
						display: block;
						float: right;
						font-size: 18px;
					}
				}
				ul{
					margin-top:12px;
					li{
						width:70px;
						font-size: 12px;
						color:#777777;
						float:left;
						margin-left:12px;
						margin-bottom:12px;
						cursor:pointer;
						&:hover{
							color:#fc4c65;
						}
					}
				}
			}
			.shopHot{
				padding-bottom:20px;
				ul{
					li{
						height:300px;
						width:195px;
						float:left;
						margin-left:12px;
						border-bottom:1px dashed #cdcdcd;
						img{
							width:195px;
							height:195px;
							cursor: pointer;
						}
						a{
							font-size: 12px;
							display: block;
							margin-top:10px;
							margin-bottom:35px;
							color: #777777;
							&:hover{
								color:red;
							}
						}
						i{
							display: block;
							font-size: 10px;
							color: #d91404;
							font-weight: bolder;
						}
						span{
							display: block;
							font-size: 12px;
							color:#999999;
							margin-top:10px;
							s{
								color:#005aa8;
							}
						}
					}
				}
			}
			.near{
				padding-bottom:15px;
				p{
					height:30px;
					line-height: 30px;
					font-size: 12px;
					span{
						float:left;
						margin-left:10px;
						font-weight: bolder;
					}
					b{
						float:right;
						margin-right:10px;
						color:#777777;
						cursor: pointer;
						&:hover{
							color:#fc4c65;
						}
					}
				}
				ul{
					li{
						width:195px;
						margin-left:12px;
						border-bottom:1px dashed #777;
						img{
							width:50px;
							height:50px;
							float:left;
						}
						a{
							display: block;
							font-size: 12px;
							height:50px;
							line-height: 40px;
							color:#777777;
							&:hover{
								color:#fc4c65;
							}
						}
					}
				}
			}
			.top{
				width:218px;
				border:1px solid #dddddd;
				border-top:2px solid #fc4c65;
				height:auto;
				margin-bottom:10px;
				overflow: hidden;
				.boxTop{
					height:35px;
					line-height: 35px;
					background: #f8f8f8;
					color:#666666;
					font-size: 14px;
					text-indent: 10px;
				}
			}
		}
		.boxRight{
			width:968px;
			height:500px;
			float:left;
			margin-left:12px;
			.rightTop{
				width:966px;
				height:32px;
				background: #fafafa;
				border:1px solid #dddddd;
				ol{
					height:32px;
					line-height: 32px;
					margin-left:6px;
					li{
						float:left;
						font-size: 12px;
						color:black;
						width:70px;
						text-align: center;
						border-right:1px solid #e1e1e1;
						color:#777777;
						a{
							color:#777;
							&:hover{
								color:#eb6830;
							}
						}
						.active{
							display: block;
							width:100%;
							height:100%;
							background: #fff;
							color:#eb6830;
						}
					}
					li:nth-child(1){
						width:40px;
						border:0;
					}
					li:nth-child(2){
						width:146px;
						height:25px;
						line-height: 25px;
						background: #fff;
						margin-top:3px;
						margin-right:10px;
						font-size: 12px;
						text-align: center;
						cursor: pointer;
						border:1px solid #cecbce;
					}
					li:nth-child(3){
						font-weight: bolder;
						color:black;
					}
					li:last-child{
						float:right;
						margin-right: 10px;
						height:15px;
						line-height: 15px;
						color:black;
						margin-top:10px;
						s{
							color:#f8784b;
						}
					}
				}
			}
			ul{
				margin-top:40px;
				height:auto;
				li{
					width:220px;
					height:339px;
					border:1px solid #e6e6e6;
					float:left;
					margin-right:8px;
					margin-bottom:42px;
					padding:4px 6px;
					&:hover{
						box-shadow: 0px 0px 10px #ccc;
					}
					img{
						width:220px;
						height:220px;
						cursor:pointer;
					}
					b{
						color:#77778c;
						font-size: 10px;
						display: block;
						margin:4px 6px;
						&:hover{
							color:#fc4c65;
						}
					}
					i{
						display: inline-block;
						width:20px;
						height:20px;
						line-height: 20px;
						text-align:center;
						color:#fff;
						background: #ff6600;
						font-weight: bold;
						font-size: 14px;
						margin:12px 10px 4px 6px;
					}
					span{
						color: #777777;
						font-size: 12px;
						cursor: pointer;
						&:hover{
							color:#fc4c65;
						}
					}
					s{
						color:#d91404;
						font-weight: bolder;
						font-size: 12px;
						margin-left:6px;
						display: block;
					}
					a{
						display: block;
						width:90px;
						height:30px;
						text-align: center;
						line-height: 30px;
						background:#fc4c65 ;
						color:#fff;
						font-weight: bolder;
						font-size: 12px;
						margin:4px 0 0 6px;
						cursor:pointer;
						float:left;
						&:hover{
							color:#fff;
						}
					}
					p{
						display: block;
						width:90px;
						height:30px;
						text-align:center;
						line-height: 30px;
						background:#50a3e7;
						cursor:pointer;
						margin:4px 0 0 20px;
						float:left;
						color:#fff;
						font-weight: bolder;
						font-size: 12px;
					}
				}
			}
		}
	}

	}
}


// 鼠标经过出现地址块区域



//划过所有类别等出现的小方块

#allDiv{
	width:235px;
	height:auto;
	display: none;
	border:2px solid #cfcaca;
	font-weight: bolder;
	padding:20px;
	padding-bottom:40px;
	position: absolute;
	background: #fff;
	left:60px;
	top:35px;
	a{
		color:#cfcaca;
		&:hover{
			color:#fc4c65;
		}
	}
} 
#elecDiv{
	@extend #allDiv;
	display: none;
	a{
		display: block;
		width:70px;
		height:20px;
		padding:0 20px;
		margin-top:10px;
		float:left;
		border-right:1px dashed #ccc;
	}
	left:155px;
}

#phoneDiv{
	@extend #elecDiv;
	left:253px;
}
