html,body,ul,li,ol,dl,dd,dt,i,p,b,span,div,section,article,aside,fieldset,legend,header,footer,nav{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
b{
	font-weight: normal;
}
img{
	display: block;
	border:0;
}
s{
	text-decoration: none;
}
