.content {
  width: 100%; }
  .content .contentin {
    width: 1202px;
    margin: 0 auto;
    height: auto; }
    .content .contentin #load {
      height: 40px;
      line-height: 40px;
      width: 1202px;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5; }
      .content .contentin #load li {
        float: left;
        padding: 3px;
        color: #777; }
        .content .contentin #load li a {
          color: #777777;
          font-size: 12px; }
          .content .contentin #load li a:hover {
            color: #fc4c65; }
    .content .contentin .mainCont {
      width: 100%;
      height: auto;
      overflow: hidden; }
      .content .contentin .mainCont .main1 {
        height: auto;
        width: 94px;
        float: left;
        margin-top: 20px; }
        .content .contentin .mainCont .main1 ul {
          height: 380px; }
          .content .contentin .mainCont .main1 ul li {
            width: 90px;
            height: 90px;
            border: 2px solid #ccc;
            margin-top: 4px;
            cursor: pointer; }
            .content .contentin .mainCont .main1 ul li:hover {
              border: 2px solid #fc4c65; }
            .content .contentin .mainCont .main1 ul li img {
              width: 90px;
              height: 90px; }
        .content .contentin .mainCont .main1 i {
          display: block;
          margin-left: 37px;
          color: #ccc;
          cursor: pointer; }
      .content .contentin .mainCont .main2 {
        width: 382px;
        height: 420px;
        float: left;
        margin: 41px 0 0 20px;
        position: relative; }
        .content .contentin .mainCont .main2 #opacity {
          width: 200px;
          height: 200px;
          background: #fff;
          position: absolute;
          opacity: 0.6;
          cursor: move;
          display: none;
          border: 1px solid #ccc; }
        .content .contentin .mainCont .main2 img {
          width: 380px;
          height: 380px;
          border: 1px solid #ccc; }
        .content .contentin .mainCont .main2 p {
          font-size: 12px;
          height: 40px;
          line-height: 60px; }
          .content .contentin .mainCont .main2 p span {
            float: left; }
          .content .contentin .mainCont .main2 p i {
            float: right;
            color: #ec5465;
            cursor: pointer; }
            .content .contentin .mainCont .main2 p i s {
              font-size: 12px;
              color: #666666;
              cursor: pointer; }
      .content .contentin .mainCont .main3 {
        width: 445px;
        height: 336px;
        float: left;
        margin: 42px 0 0 13px;
        font-size: 12px;
        position: relative; }
        .content .contentin .mainCont .main3 #bigImg {
          position: absolute;
          left: 20px;
          top: 10px;
          width: 400px;
          height: 400px;
          overflow: hidden;
          display: none;
          border: 1px solid #ccc; }
          .content .contentin .mainCont .main3 #bigImg img {
            position: absolute;
            width: 800px;
            height: 800px; }
        .content .contentin .mainCont .main3 p {
          display: block;
          height: 35px;
          font-size: 17px;
          color: #333333;
          width: 445px;
          margin-bottom: 10px;
          border-bottom: 1px dashed black; }
        .content .contentin .mainCont .main3 .info {
          width: 443px;
          height: 106px;
          background: #f3f3f3;
          margin-top: 10px; }
          .content .contentin .mainCont .main3 .info span {
            display: block;
            color: #333333;
            font-size: 14px;
            letter-spacing: 2px;
            height: 40px;
            line-height: 40px;
            margin-left: 8px; }
            .content .contentin .mainCont .main3 .info span s {
              font-size: 18px;
              font-weight: bolder;
              color: #d91404; }
            .content .contentin .mainCont .main3 .info span i {
              width: 26px;
              height: 20px;
              color: #fff;
              background: #d91404; }
            .content .contentin .mainCont .main3 .info span b {
              letter-spacing: 0px;
              display: block;
              width: 310px;
              line-height: 15px;
              margin-left: 120px;
              margin-top: -30px;
              font-size: 12px; }
        .content .contentin .mainCont .main3 ul {
          margin-top: 28px;
          overflow: hidden; }
          .content .contentin .mainCont .main3 ul li {
            float: left;
            height: 23px;
            line-height: 23px; }
          .content .contentin .mainCont .main3 ul #address {
            width: 146px;
            text-align: center;
            border: 1px solid #cecbce; }
        .content .contentin .mainCont .main3 #choose {
          width: 116px;
          height: 30px;
          border: 1px solid #dedede;
          overflow: hidden;
          margin-top: 10px;
          margin-right: 20px;
          float: left; }
          .content .contentin .mainCont .main3 #choose button {
            width: 28px;
            height: 30px;
            background: #dedede;
            font-size: 20px;
            color: #777;
            float: left;
            cursor: pointer;
            border: none;
            outline: none; }
            .content .contentin .mainCont .main3 #choose button:hover {
              color: #fc4c65; }
          .content .contentin .mainCont .main3 #choose input {
            width: 60px;
            height: 30px;
            background: #fff;
            border: 0;
            float: left;
            outline: none;
            text-align: center; }
        .content .contentin .mainCont .main3 h6 {
          width: 300px;
          margin-top: 18px;
          font-weight: normal;
          margin-left: 20px; }
        .content .contentin .mainCont .main3 #buy, .content .contentin .mainCont .main3 #car {
          width: 92px;
          height: 30px;
          display: inline-block;
          color: #fff;
          background: #2ca530;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          outline: none;
          border: 0;
          margin-top: 10px;
          margin-right: 20px; }
        .content .contentin .mainCont .main3 #car {
          background: #fc4c65; }
      .content .contentin .mainCont .main4 {
        float: left;
        margin-top: 42px;
        margin-left: 47px; }
        .content .contentin .mainCont .main4 img {
          border: 1px solid #eeeeee; }
        .content .contentin .mainCont .main4 p {
          width: 200px;
          height: 32px;
          background: #f3f3f3;
          text-align: center;
          line-height: 32px;
          font-size: 12px;
          text-decoration: underline; }
          .content .contentin .mainCont .main4 p:hover {
            cursor: pointer;
            color: #fc4c65;
            text-decoration: none; }
    .content .contentin .downDiv {
      height: auto;
      overflow: hidden;
      margin-top: 37px; }
      .content .contentin .downDiv .downLeft {
        width: 222px;
        height: auto;
        float: left; }
        .content .contentin .downDiv .downLeft .sBox {
          width: 220px;
          border: 1px solid #cccccc;
          border-top: 2px solid #fc4c65;
          margin-bottom: 20px; }
          .content .contentin .downDiv .downLeft .sBox p {
            height: 36px;
            background: #f8f8f8;
            line-height: 36px;
            color: #66667c;
            font-size: 14px;
            font-weight: bold;
            text-indent: 10px; }
        .content .contentin .downDiv .downLeft .sameClass {
          height: auto;
          padding-bottom: 10px;
          overflow: hidden; }
          .content .contentin .downDiv .downLeft .sameClass ul li {
            width: 191px;
            height: 195px;
            border-bottom: 1px dashed #cccccc;
            margin-left: 12px;
            overflow: hidden;
            text-align: center; }
            .content .contentin .downDiv .downLeft .sameClass ul li img {
              width: 85px;
              height: 85px;
              margin-left: 50px;
              margin-top: 20px; }
            .content .contentin .downDiv .downLeft .sameClass ul li span {
              font-size: 10px;
              color: #777777;
              display: block;
              margin: 10px 0; }
            .content .contentin .downDiv .downLeft .sameClass ul li s {
              color: #d91404;
              font-size: 12px;
              font-weight: bold; }
        .content .contentin .downDiv .downLeft .pastBox {
          height: auto; }
          .content .contentin .downDiv .downLeft .pastBox ul li {
            height: 50px;
            width: 195px;
            margin-left: 12px;
            padding: 20px 0;
            border-bottom: 1px dashed #cccccc;
            clear: both; }
            .content .contentin .downDiv .downLeft .pastBox ul li img {
              width: 50px;
              height: 50px;
              float: left;
              margin-right: 10px; }
            .content .contentin .downDiv .downLeft .pastBox ul li span {
              font-size: 12px; }
      .content .contentin .downDiv .downRight {
        width: 960px;
        float: left;
        height: auto;
        margin-left: 18px; }
        .content .contentin .downDiv .downRight ul {
          width: 950px;
          height: 42px;
          line-height: 42px;
          padding-left: 10px;
          border-bottom: 1px solid #dddddd; }
          .content .contentin .downDiv .downRight ul li {
            float: left;
            padding: 0 15px;
            font-size: 12px;
            color: #777;
            cursor: pointer; }
            .content .contentin .downDiv .downRight ul li:hover {
              color: #fc4c65; }
          .content .contentin .downDiv .downRight ul .active {
            height: 34px;
            line-height: 34px;
            border: 1px solid #ddd;
            border-top: 2px solid #fc4c65;
            border-bottom: 1px solid #fff;
            margin-top: 6px;
            float: left;
            color: black;
            font-weight: bolder; }
        .content .contentin .downDiv .downRight div {
          display: none; }

#throughAddress {
  display: none;
  left: 620px;
  top: 515px; }
