html, body, ul, li, ol, dl, h1, h2, h3, h4, h5, h6, dd, dt, i, p, b, span, div, section, article, aside, fieldset, legend, header, footer, nav {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

i {
  font-style: normal; }

b {
  font-weight: normal; }

img {
  display: block;
  border: 0; }

s {
  text-decoration: none; }

body, html {
  height: 100%; }

.bigbox {
  width: 100%;
  height: auto; }

.fixed {
  height: 100%;
  width: 36px;
  right: 0;
  top: 0;
  position: fixed;
  background: #888;
  z-index: 100; }
  .fixed ul {
    margin-top: 60px; }
    .fixed ul li {
      height: 162px;
      width: 27px;
      border-top: 1px solid #fff;
      margin-left: 4px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      overflow: hidden; }
      .fixed ul li span {
        display: block;
        width: 12px;
        height: 50px;
        color: #eee;
        margin: 42px 0 20px 7px;
        cursor: pointer; }
        .fixed ul li span a {
          color: #eee; }
      .fixed ul li p {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        border-radius: 10px;
        background: #f43600; }

.header {
  height: auto; }
  .header .top {
    width: 100%;
    background: #f2f2f2;
    height: 36px;
    border-bottom: 1px solid #e5e5e5; }
    .header .top .topin {
      margin: 0 auto;
      width: 1202px;
      background: #f2f2f2;
      font-size: 12px;
      color: #6c6c6c; }
      .header .top .topin ul {
        height: 36px;
        float: left;
        line-height: 36px; }
        .header .top .topin ul li {
          float: left;
          padding: 0 5px; }
          .header .top .topin ul li a {
            display: block;
            color: #6c6c6c; }
            .header .top .topin ul li a:hover {
              color: #fc4c65; }
      .header .top .topin ol {
        height: 36px;
        float: right; }
        .header .top .topin ol li {
          float: left;
          padding: 0 5px;
          height: 13px;
          margin-top: 10px;
          border-right: 1px solid #6c6c6c; }
          .header .top .topin ol li a {
            display: block;
            color: #6c6c6c;
            padding: 0 10px; }
          .header .top .topin ol li .active {
            color: #fff;
            display: block;
            height: 30px;
            margin-top: -5px;
            font-size: 12px;
            line-height: 30px;
            border: none;
            background: #fc4c65; }
  .header .cent {
    width: 100%;
    height: 119px;
    background: #fff; }
    .header .cent .centin {
      margin: 0 auto;
      width: 1202px;
      background: #fff;
      height: 119px;
      overflow: hidden; }
      .header .cent .centin .logo {
        margin-top: 30px;
        float: left; }
      .header .cent .centin .car {
        float: left;
        margin-top: 50px;
        margin-left: 70px; }
      .header .cent .centin form {
        width: 574px;
        height: 34px;
        float: left;
        border-radius: 5px;
        margin: 45px 0 0 57px;
        border: 3px solid #fc4c65;
        overflow: hidden; }
        .header .cent .centin form #input {
          outline: none;
          width: 474px;
          height: 34px;
          float: left;
          border: 0; }
        .header .cent .centin form #sub {
          outline: none;
          width: 100px;
          height: 34px;
          float: left;
          border: 0;
          font-size: 18px;
          color: #fff;
          cursor: pointer;
          background: #fc4c65; }
      .header .cent .centin ul {
        float: left;
        margin-top: 5px;
        margin-left: 285px; }
        .header .cent .centin ul li {
          float: left;
          font-size: 12px;
          margin-left: 10px; }
          .header .cent .centin ul li a {
            color: #999; }
            .header .cent .centin ul li a:hover {
              color: #fc4c65; }
      .header .cent .centin .shopcar {
        width: 130px;
        height: 38px;
        float: left;
        line-height: 38px;
        margin: 45px 0 0 19px;
        background: #f9f9f9;
        border: 1px solid #d8d8d8;
        font-size: 14px; }
        .header .cent .centin .shopcar a {
          color: #777; }
          .header .cent .centin .shopcar a:hover {
            color: #fc4c65; }
        .header .cent .centin .shopcar .iconfont {
          margin-left: 2px;
          color: #fc4c65; }
  .header .nav {
    width: 100%;
    height: 35px;
    border-bottom: 3px solid #fc4c65; }
    .header .nav ul {
      margin: 0 auto;
      width: 1202px; }
      .header .nav ul li {
        float: left;
        height: 35px;
        line-height: 35px;
        font-size: 12px;
        color: #777;
        overflow: hidden;
        padding: 0 45px; }
        .header .nav ul li:hover {
          color: #fc4c65;
          cursor: pointer; }
        .header .nav ul li i {
          display: inline; }
        .header .nav ul li p {
          height: 105px;
          display: inline-block;
          position: relative;
          top: -35px;
          width: 100%;
          left: 30px; }
          .header .nav ul li p a {
            color: #777;
            height: 35px;
            width: 100%;
            overflow: hidden;
            display: block; }
            .header .nav ul li p a:hover {
              color: #fc4c65; }
      .header .nav ul li:first-child {
        width: 135px;
        height: 35px;
        background: #fc4c65;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        color: #fff;
        padding: 0 35px; }
        .header .nav ul li:first-child i {
          margin-top: 5px;
          font-size: 25px; }
      .header .nav ul li:last-child i {
        color: #303233;
        float: left;
        margin-right: 5px; }
      .header .nav ul li:nth-of-type(3) {
        padding-left: 5px; }
      .header .nav ul span {
        display: inline-block;
        width: 24px;
        height: 16px;
        float: left;
        margin-left: 30px;
        margin-top: 10px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        background: #fc4c65; }

.footer {
  width: 100%;
  height: 517px;
  background: #fff; }
  .footer .footin {
    height: 437px;
    padding-top: 50px; }
    .footer .footin .cont {
      width: 100%;
      height: 120px;
      background: #efefef; }
      .footer .footin .cont .contin {
        margin: 0 auto;
        width: 1202px;
        height: 120px; }
        .footer .footin .cont .contin ul {
          height: 120px;
          float: left;
          margin-left: 45px; }
          .footer .footin .cont .contin ul li {
            float: left;
            width: auto;
            margin-top: 25px;
            padding-right: 125px; }
            .footer .footin .cont .contin ul li i {
              display: inline-block;
              font-size: 80px;
              color: #e51d31;
              float: left;
              margin-right: 10px; }
            .footer .footin .cont .contin ul li div {
              display: inline-block;
              float: left;
              line-height: 20px; }
            .footer .footin .cont .contin ul li p {
              color: #595757;
              font-weight: bold;
              display: inline-block;
              margin-top: 10px; }
            .footer .footin .cont .contin ul li span {
              font-size: 12px;
              color: #595757;
              display: block; }
    .footer .footin .cont2 {
      margin: 0 auto;
      width: 1202px;
      height: 318px; }
      .footer .footin .cont2 .cont2in {
        margin: 0 auto;
        width: 1202px; }
        .footer .footin .cont2 .cont2in .left {
          float: left;
          margin-top: 45px; }
          .footer .footin .cont2 .cont2in .left img {
            width: 72px;
            height: 122px;
            display: inline-block;
            float: left;
            margin-right: 10px; }
          .footer .footin .cont2 .cont2in .left p {
            display: inline-block;
            color: #777;
            font-weight: bolder;
            font-size: 14px; }
          .footer .footin .cont2 .cont2in .left span {
            width: 340px;
            font-size: 12px;
            display: block;
            line-height: 20px; }
        .footer .footin .cont2 .cont2in .right {
          float: left;
          margin-bottom: 60px; }
          .footer .footin .cont2 .cont2in .right ul {
            float: left;
            margin: 28px 0 0 50px; }
            .footer .footin .cont2 .cont2in .right ul li {
              font-size: 12px;
              color: #777;
              line-height: 25px; }
              .footer .footin .cont2 .cont2in .right ul li:hover {
                color: #e6293c;
                cursor: pointer; }
            .footer .footin .cont2 .cont2in .right ul li:first-child {
              font-size: 16px;
              color: #333333;
              font-weight: bolder; }
        .footer .footin .cont2 .cont2in .ip {
          width: 100%;
          text-align: center;
          color: #777;
          font-size: 12px;
          clear: both; }
          .footer .footin .cont2 .cont2in .ip:hover {
            color: #f12e24;
            cursor: pointer; }
        .footer .footin .cont2 .cont2in .img {
          float: left;
          margin-left: 280px;
          margin-top: 20px; }
          .footer .footin .cont2 .cont2in .img img {
            float: left;
            margin-right: 43px; }
  .footer .red {
    width: 100%;
    height: 30px;
    background: #f12e24; }

#throughAddress {
  z-index: 10;
  display: none;
  width: 420px;
  height: auto;
  left: 354px;
  top: 312px;
  position: absolute;
  background: #fff;
  border: 1px solid #cecbce; }
  #throughAddress #x {
    width: 18px;
    height: 18px;
    color: #fff;
    background: #5a5a5a;
    font-size: 12px;
    position: absolute;
    left: 410px;
    top: -5px;
    border-radius: 9px;
    text-align: center;
    line-height: 18px;
    cursor: pointer; }
  #throughAddress ol {
    width: 390px;
    overflow: hidden;
    position: absolute;
    margin-left: 15px; }
    #throughAddress ol li {
      float: left;
      height: 24px;
      padding: 0 20px 0 10px;
      font-size: 12px;
      margin-left: 13px;
      line-height: 24px;
      margin-top: 15px;
      color: #dddddd;
      border: 1px solid #dddddd;
      border-bottom: none;
      cursor: pointer; }
    #throughAddress ol .active {
      color: black;
      height: 24px;
      border: 1px solid black;
      border-bottom: 1px solid #fff; }
  #throughAddress .line {
    border-bottom: 1px solid black;
    margin-top: 40px;
    width: 390px;
    float: left;
    margin-left: 15px; }
  #throughAddress ul {
    float: left;
    margin-left: 25px;
    margin-bottom: 30px; }
    #throughAddress ul li {
      float: left;
      padding: 5px 0;
      width: 100px;
      font-size: 12px; }
      #throughAddress ul li a {
        display: block;
        line-height: 35px;
        text-align: center;
        color: black;
        width: auto;
        height: 35px; }
        #throughAddress ul li a:hover {
          background: #FDEBBF; }

.header #my {
  width: 74px;
  height: 60px;
  position: absolute;
  left: 1020px;
  top: 32px;
  display: none;
  background: #fff;
  border: 2px solid #fc4c65; }
  .header #my li {
    height: 30px;
    line-height: 30px; }
    .header #my li a {
      display: block;
      font-size: 12px;
      text-align: center;
      color: #747474; }
      .header #my li a:hover {
        color: #fc4c65; }
  .header #my li:first-child {
    border-bottom: 1px dashed #ccc; }

#twoCode {
  width: 136px;
  height: 136px;
  background: #fff url("../images/222.jpg");
  position: fixed;
  left: 1177px;
  display: none;
  border: 1px solid #c9c4be;
  top: 420px;
  z-index: 10; }

#select {
  width: 205px;
  height: 401px;
  position: absolute;
  z-index: 10;
  left: 74px;
  top: 192px;
  display: none;
  background: #fc4c65; }
  #select li {
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    color: #fff;
    cursor: pointer; }
    #select li:hover {
      background: #cc4155; }
    #select li .iconfont {
      font-size: 30px;
      float: left;
      margin: 0 20px; }
    #select li span {
      float: right;
      margin-right: 20px; }
  #select li:first-child {
    margin-top: 15px; }

#about {
  z-index: 10;
  width: 900px;
  height: 401px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  display: none;
  left: 279px; }
  #about ul {
    width: 860px;
    border-bottom: 1px dashed #666;
    height: 60px;
    margin-left: 20px; }
    #about ul li {
      float: left;
      font-size: 14px;
      margin-top: 30px;
      height: 12px;
      line-height: 12px; }
      #about ul li a {
        padding: 0 14px;
        border-right: 1px solid #666;
        display: block;
        color: #333; }
        #about ul li a:hover {
          color: #fc4c65; }
    #about ul li:first-child {
      width: 83px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border: 1px solid #666;
      margin-top: 20px;
      margin-right: 10px;
      border-radius: 20px 20px; }
  #about p {
    margin: 30px 0 30px 30px;
    color: #333; }
  #about ol {
    margin-left: 30px; }
    #about ol li {
      float: left;
      width: 150px;
      height: 222px;
      margin-right: 20px; }
      #about ol li img {
        width: 150px;
        height: 150px;
        cursor: pointer; }
      #about ol li a {
        display: block;
        font-size: 12px;
        color: #333;
        margin-top: 20px; }
      #about ol li span {
        display: block;
        margin-top: 15px;
        font-size: 14px; }
        #about ol li span i {
          font-weight: bolder;
          color: #d91404; }

#shopcar {
  width: 438px;
  height: 148px;
  border: 1px solid #fc4c65;
  position: absolute;
  z-index: 20;
  background: #fff;
  display: none; }
  #shopcar p {
    height: 33px;
    background: #fc4c65;
    line-height: 33px;
    color: #fff;
    font-size: 14px;
    text-indent: 15px;
    font-weight: bolder; }
    #shopcar p button {
      background: #fc4c65;
      border: 0;
      color: #fff;
      cursor: pointer;
      height: 33px;
      line-height: 33px;
      float: right;
      outline: none; }
      #shopcar p button img {
        float: left;
        margin-top: 10px;
        margin-right: 5px; }
  #shopcar span {
    display: block;
    font-size: 12px;
    margin: 30px 0 15px 100px; }
  #shopcar s {
    font-size: 12px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer; }
  #shopcar b {
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
    width: 79px;
    height: 27px;
    background: #fc4d65;
    text-align: center;
    line-height: 27px;
    cursor: pointer; }
    #shopcar b a {
      color: #fff; }
