.content {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .content .contentin {
    margin: 0 auto;
    width: 1202px; }
    .content .contentin table {
      font-size: 14px;
      margin-left: 100px;
      margin-top: 50px;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      border-spacing: 0; }
      .content .contentin table tr td input {
        float: left;
        margin-top: 30px; }
      .content .contentin table tr td img {
        width: 64px;
        height: 64px;
        float: left;
        margin: 5px; }
      .content .contentin table tr td button {
        display: inline-block;
        float: left;
        background: #fff;
        border: 1px solid #989999;
        outline: none;
        cursor: pointer;
        margin-top: 3px; }
      .content .contentin table tr td .buyNum {
        float: left;
        width: 40px;
        height: 20px;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #cdcdcd;
        outline: none; }
      .content .contentin table tr td a {
        display: block;
        color: #323232; }
        .content .contentin table tr td a:hover {
          color: #d10535; }
      .content .contentin table tr #sum {
        color: #d10535; }
      .content .contentin table tr:first-child {
        background: #f5f5f5;
        height: 30px;
        line-height: 30px;
        width: 100%; }
        .content .contentin table tr:first-child input {
          margin: 10px 0 0 0; }
    .content .contentin p {
      margin-left: 100px;
      margin-right: 150px;
      text-align: right;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      border-bottom: 1px dashed #bbbbbb; }
      .content .contentin p i {
        color: #d10535; }
